
<link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>


<!-- TEST -->
<!-- TEST -->


<div class= "container-fluid">
  <div class= "row">
    <div class= "col-md-12">
      <div class = "bg">
        <div class= "container">
          <div class="jumbotron jumbotron-fluid">
            <h2 class="align-middle">Movies</h2>
            <h2 class="align-middle">Index</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class= "container">
  <div class = "row">
    <form class="form-inline search-bar">
      <%= form_tag movies_path, {method: 'get'} do %>
        <%= text_field_tag :search, params[:search], class:'form-control', placeholder:"Search movies"%>
        <%= submit_tag "Search", name: nil, class: "btn btn-secondary-outline" %>
      <% end %>
    </form>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">
        <div class= "row justify-content-center">
          <div class= "col-12">
            <% @movies.each do |movie|%>

              <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-3">
                  <div class="card center-block">
                    <div class = "card-body">
                    <div class = "movie-title">
                      <p class="movie-title-text" ><%= movie.id %></p>
                    </div>
                        <% if movie.poster === "N/A" %>
                          <p><%= link_to image_tag('http://www.interlog.com/~tfs/images/posters/TFSMoviePosterUnavailable.jpg', class: 'card-img-top center-block mb-1'), movie_path(movie) %></p>
                        <% else %>
                          <p><%= link_to image_tag(movie.poster, class: 'card-img-top center-block mb-1'), movie_path(movie) %></p>
                        <% end %>
                          <p class="card-text-top center-block">*** TRASH CAN RATING***</p>
                          <p class ="maturity-rating center-block">rated PG</p>
                          <p class="card-text center-block">Some quick example text to build on the card title and make up the bulk of the card's content <%= link_to "(more)...", 'movie_path(movie)', :class => "see-more" %></p>

                        </div>
                  </div>
              </div>

            <% end %>
            <br>
            <br>
        </div>
      </div>
    </div>
  </div>
