
<link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
<div class= "container-fluid">
  <div class= "row">
    <div class= "col-md-12">
      <div class = "bg">
        <div class= "container">
          <div class="jumbotron jumbotron-fluid">
            <h2 class="display-3">Movies <br> Index</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class= "container">
  <div class = "row">
    <form class="form-inline search-bar">
        <%= form_tag movies_path, {method: 'get'} do %>
        <%= text_field_tag :search, params[:search], class:'form-control', placeholder:"Search movies"%>
        <%= submit_tag "Search", name: nil, class: "btn btn-secondary-outline" %>
      <% end %>
    </form>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">
        <div class= "row center-block">
          <div class= "col-md-10 col-md-offset-1">
            <% @movies.each do |movie|%>
            <ul class="list">
              <li>
                <div class="card">
                  <div class="card-block">
                    <h4 class="card-title"><%= movie.title %></h4>
                  </div>
                  <% if movie.poster === "N/A" %>
                    <%= link_to image_tag('http://www.interlog.com/~tfs/images/posters/TFSMoviePosterUnavailable.jpg', height: '200px', width: '130px'), movie_path(movie), class: 'img-responsive poster center-block' %>
                  <% else %>
                    <%= link_to image_tag(movie.poster, height: '200px', width: '130px'), movie_path(movie), class: 'img-responsive poster center-block' %>
                  <% end %>
                </div>
              </li>
            </ul>

            <% end %>
            <br>
            <br>
        </div>
      </div>
    </div>
  </div>
