
<link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>

<div class= "container-fluid">
  <div class= "row">
    <div class= "col-md-12">
      <div class = "bg">
        <div class= "container">
          <div class="jumbotron jumbotron-fluid">
            <h2 class="align-middle">Movies</h2>
            <h2 class="align-middle">Index</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class= "container">
  <div class = "row">
    <form class="form-inline search-bar">
      <%= form_tag movies_path, {method: 'get'} do %>
        <%= text_field_tag :search, params[:search], class:'form-control', placeholder:"Search movies"%>
        <%= submit_tag "Search", name: nil, class: "btn btn-secondary-outline" %>
      <% end %>
    </form>
  </div>
</div>


  <div class="panel panel-default">
    <div class="panel-body">
        <div class= "row justify-content-center">
          <div class= "col-12">
            <% @movies.each do |movie|%>

              <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-3">
                  <div class="card center-block">
                    <div class = "card-body">
                        <% if movie.poster === "N/A" %>
                          <p><a href="#" data-toggle="modal" data-target="#modal-<%= movie.id %>"><%= image_tag('http://www.interlog.com/~tfs/images/posters/TFSMoviePosterUnavailable.jpg', class: 'card-img-top center-block mb-1') %></a></p>
                        <% else %>
                          <p><a href="#" data-toggle="modal" data-target="#modal-<%= movie.id %>"><%= image_tag(movie.poster, class: 'card-img-top center-block mb-1') %></a></p>
                        <% end %>
                        <p class="card-text center-block"> <a href="#" class = "movie-title-text" data-toggle="modal" data-target="#modal-<%= movie.id %>"><%= movie.title %></a></p>
                        </div>
                  </div>
              </div>

              <!-- Modal Window -->
              <div class="modal fade" id="modal-<%= movie.id %>" role="dialog" aria-labelledby="movieModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="movieModalLabel"><%= movie.title %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class = "col-md-6"><%= image_tag(movie.poster)%></div>

                      <div class = "col-md-6"><%= movie.plot %></div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Add to Watchlist</button>
                      <%= link_to "More..", movie_path(movie), :class => "btn btn-default" %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            <% end %>
            <br>
            <br>
        </div>
      </div>
    </div>
  </div>
