
<link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
<div class= "container-fluid">
  <div class= "row">
    <div class= "col-md-12">
      <div class = "bg">
        <div class= "container">
          <div class="jumbotron jumbotron-fluid">
            <h2 class="display-3">Movies <br> Index</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class= "container-fluid">
  <form class="form-inline search-bar">
      <%= form_tag movies_path, {method: 'get'} do %>
      <%= text_field_tag :search, params[:search], class:'form-control', placeholder:"Search movies"%>
      <%= submit_tag "Search", name: nil, class: "btn btn-secondary-outline" %>
    <% end %>
  </form>
</div>
<div class= "container results">
    <div class= "row">
      <div class= "col-md-3 col-md-offset-1 ">
        <h2> Search Results:</h2>
        <% @movies.each do |movie|%>
        <ul>
          <li>
            <div class="card">
              <%= image_tag movie.poster, class: 'card-img-top', alt: 'Movie Poster not available' %>
              <div class="card-block">
                <h4 class="card-title"><%= movie.title %></h4>
                <%= link_to "View", movie_path(movie), class: "btn btn-warning"%>
              </div>
            </div>
          </li>
        </ul>

        <% end %>
        <br>
        <br>
      </div>
    </div>
  </div>
