<div class= "container">
<h1><%= @movie.title %></h1>

<p><%= image_tag @movie.poster%></p>
<p><b>Released:</b><%= @movie.year%></p>
<p><b>Genre:</b><%= @genre %></p>
<p><%= @plot %></p>
<br><br>


<hr>

<%= link_to "Add Review", new_review_path(@movie), class:"btn btn-success"%>

<hr>



<div class= "col-md-12">

    <h2> Reviews: </h2><br>

      <% @reviews.each do |review| %>

          <%= image_tag @user.image, class: 'img-responsive', size:"40x20" %><b><%= link_to @user.username, user_path(@user) %> </b>
          <%= link_to '', delete_review_path(@movie, review), method: 'delete', class: "glyphicon glyphicon-remove"%>
          <%= link_to '', edit_review_path(review), class: "glyphicon glyphicon-pencil" %><br>
          <b>"<%= review.subject %>"</b><br>
          <b>Review:</b>"<%= review.content %>"<br><br>
            <% end %>
        </div>
      </div>
