<div class= "container">
<h1><%= @movie.title %></h1>

<p><%= image_tag @movie.poster%></p>
<p><b>Released:</b><%= @movie.year%></p>
<p><b>Genre:</b><%= @genre %></p>
<p><%= @plot %></p>
<br><br>

<%= link_to "Add Review", new_review_path(@movie), class:"btn btn-success"%>

<h2> Reviews: </h2>

<% @reviews.each do |review| %>
<p><b>User should go here (Remove this label when you get it!):</b></p>
<p><b>"<%= review.subject %>"</b></p>
<p><b>Rating here (remove label once it's appearing):</b><%= review.rating %></p>
<p><b>Review:</b>"<%= review.content %>"</p><br><br>
<% end %>
</div>
