
<div class ="col-md-6">
<h1> Sign Up </h1>
<hr>
<%= form_for @user do |f| %>

<div>
  <%= f.text_field :username, placeholder: "Username", class: "form-control"%><br>
</div>

<div>
  <%= f.text_field :email, placeholder: "Email", class: "form-control" %><br>
</div>

<div>
  <%= f.password_field :password, placeholder: "Password", class: "form-control" %><br>
</div>

<div>
  <%= f.text_field :image, placeholder: "Image URL", class: "form-control" %><br>
</div>

<div>
  <%= f.submit :submit, class: "btn btn-primary" %>
</div>

<% end %>
</div>
