<div class:"container">
  <div class:"col-md-offset-6 col-md-6">
    <h1><%= @user.username %></h1>
    <hr>
    <p><%= image_tag @user.image, class: "img-responsive"%></p>
    <p><%= @user.email %></p>
    <%= button_to 'Delete Account', delete_user_path(@user), method: 'delete', class: 'btn btn-danger', data: {confirm: "are you sure? This action cannot be undone."} %>
    <%= button_to 'Edit Account', edit_user_path(@user), method: 'get', class: 'btn btn-warning' %>
  </div>
<div>
